
<div class="login-form center-align">
  <div class="forgot-pass-info">
    <h3 class="login-title"> Forgot your password?</h3>
    <p>We will send password reset instructions to the email adress associated to your account.</p>
  </div>
  <form method="post" #ForgotPassForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input class="validate" type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="[a-zA-Z]+.[a-zA-Z]+[0-9]*@info.uaic.ro">
        <label class="active" data-error="Incorrect email">Email</label>
      </div>
    </div>

    <div class="login-footer">
      <button [disabled]="!ForgotPassForm.valid" class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit(ForgotPassForm.value)">Submit
      </button>
    </div>

  </form>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Ooops!</h4>
    <br>
    <p>Something went wrong! Please try again later</p>
  </div>

</div>
