.login-form{
  height: 50%;

}

.forgot-pass-info{
  margin-top: 15%;
}

h3{
  margin-top: 7%;
}

p{
  margin-bottom: 10%;
}
div .form-group{
  margin-bottom: 5%;
}

.waves-effect{
  margin-top: 5%;
}
