$borderColor: #aaaaaa;
$themeColor: #3388cb;
.card {
  margin-top: 10%;
  padding: 0 3%;
  .forgot-pass-info {
    margin-top: 15%;
  }
  .form-title {
    color: #3388cb;
  }
  @media only screen and (max-width: 600px) {
    .form-title {
      font-size: 25px;
    }
    p {
      font-size: 12px;
    }
  }

  h3 {
    margin-top: 7%;
  }

  p {
    margin-bottom: 10%;
  }

  div .form-group {
    margin-bottom: 5%;
  }

  .waves-effect {
    margin-top: 5%;
  }

}


