$borderColor: #aaaaaa;
$themeColor: #3388cb;
$errorColor: #f44336;

.register-form {
  margin-top: 5%;
  border: solid 1px $borderColor;
  border-radius: 10px;

  .registration-title {
    color: $themeColor;
    margin-bottom: 35px;
  }
}

.dropdown-content li > a, .dropdown-content li > span {
  color: black !important;
}



@media (max-width: 992px) {
  .registration-title {
    font-size: 50px;
  }

}

@media (max-width: 600px) {
  .registration-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  label {
    font-size: 10px;
  }

}


