<app-sidebar *ngIf="isAdmin"></app-sidebar>

<div class="content row ">
  <div class="register-form col s8 push-s2">
    <div>
      <h1 class="registration-title center-align"> Registration Form</h1>
    </div>
    <form method="post" #registerForm="ngForm">
      <div class="row">

        <div class="input-field col s12 l6">
          <input type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required=""
                 pattern="[a-zA-Z]+"
                 [class.error-border]="!firstName.valid && firstName.touched">
          <label class="active">First Name</label>
          <div *ngIf="!firstName.valid && firstName.touched" class="error-message">
            <p class="error">*Enter your first name</p>
          </div>

        </div>

        <div class="input-field col s12 l6">
          <input type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required
                 pattern="[a-zA-Z]+"
                 [class.error-border]="!lastName.valid && lastName.touched">
          <label class="active">Last Name</label>
          <div *ngIf="!lastName.valid && lastName.touched" class="error-message">
            <p class="error">*Enter your last name</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="input-field col s12 l6">
          <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                 (blur)="comparePasswords(registerForm.value)"
                 [class.error-border]="!password.valid && password.touched"
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}">
          <label class="active">Password</label>
          <div *ngIf="!password.valid && password.touched" class="error-message">
            <p class="error">*Password must contain
              at least one uppercase, one digit, one symbol, and must be at least 7 characters!</p>
          </div>
        </div>

        <div class="input-field col s12 l6">
          <input type="password" name="confirmPassword" [(ngModel)]="model.confirmPassword"
                 #confirmPassword="ngModel"
                 (blur)="comparePasswords(registerForm.value)"
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}">
          <label class="active">Confirm Password</label>
          <div *ngIf="!passwordsMatch" class="error-message">
            <p class="error">*Passwords don't match</p>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel"
                 pattern="[a-zA-Z]+.[a-zA-Z]+[0-9]*@info.uaic.ro" [class.error-border]="!email.valid && email.touched">
          <label class="active">Email</label>
          <div *ngIf="!email.valid && email.touched" class="error-message">
            <p class="error">*You need to use the email address provided by the University</p>
          </div>
        </div>
      </div>

      <div [hidden]="register_professor" class="row">

        <div class="input-field col s6">
          <select materialize="material_select" name="year" [(ngModel)]="model.year" #year="ngModel">
            <option value="" disabled selected>Choose the year that you are in</option>
            <option [value]=1>1</option>
            <option [value]=2>2</option>
            <option [value]=3>3</option>
          </select>
          <label>Year</label>
        </div>

        <div class="input-field col s6">
          <select materialize="material_select" name="semester" [(ngModel)]="model.semester" #semester="ngModel">
            <option value="" disabled selected>Choose the semester that you are in</option>
            <option [value]=1>1</option>
            <option [value]=2>2</option>
            <option [value]=3>3</option>
            <option [value]=4>4</option>
            <option [value]=5>5</option>
            <option [value]=6>6</option>

          </select>
          <label>Semester</label>
        </div>


      </div>

      <div class="row center-align">

        <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit(registerForm.value)"
                [disabled]="!registerForm.valid">
          Submit
        </button>

      </div>

    </form>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>{{modalHeader}}</h4>
    <br>
    <p>{{modalText}}</p>
  </div>

</div>
