<app-sidebar></app-sidebar>
<div class="row nav-title-div">
  <p *ngIf="!onEdit" class="nav-title col s10 push-s1">Upload {{model.type}}</p>
  <p *ngIf="onEdit" class="nav-title col s10 push-s1">Edit {{model.type}}</p>
</div>

<div class="content row">
  <div class="card col s8 offset-s2 upload-material-card">
    <form method="post" #uploadLessonForm="ngForm">


      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="title" [(ngModel)]="model.title" #title="ngModel">
          <label [class.active]="title.value">Lesson</label>
        </div>
      </div>

      <div class="row">
        <p class="editor-label">Description</p>
        <div class="editor">
          <app-ngx-editor [placeholder]="'Enter text here...'" [toolbar]="toolbar" [minHeight]="2"   [spellcheck]="true" [(ngModel)]="model.description"
                          name="description"></app-ngx-editor>
        </div>

      </div>



      <div class="row">
        <div id="panel-body" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
          <div class="upload-drop-zone" [class.drop-zone-hover]="mouseOvered" id="drop-zone"
               (mouseover)="mouseOvered=true" (mouseout)="mouseOvered=false">
            <i class="fas fa-cloud-upload-alt upload-icon"></i>
            <label class="on-click-upload">
              <input type="file" (change)="onDrop($event)">
              <strong>Choose a file</strong>
              <span> or drag it here</span>
            </label>
          </div>

        </div>
      </div>

      <div class="row" id="display-uploaded-files">

      </div>

      <div class="row center-align">

        <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit()"
                [disabled]="!uploadLessonForm.valid">
          Submit
        </button>

      </div>

    </form>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div *ngIf="onDelete" class="modal-content">
    <h4>Delete file</h4>
    <hr>
    <br>
    <p>Are you sure you want to delete {{fileName}}?</p>
    <button class="btn waves-effect waves-light" name="close" (click)="closeModal()">
      Cancel
    </button>
    <button class="btn waves-effect waves-light" name="delete" (click)="deleteFile()">
      Yes, delete it!
    </button>
  </div>

  <div *ngIf="!onDelete" class="modal-content">
    <h4>{{modalHeader}}</h4>
    <hr>
    <br>
    <p>{{modalText}}</p>
  </div>

</div>




