//@import "~bootstrap/scss/bootstrap.scss";

$borderColor: #aaaaaa;
$themeColor: #3388cb;

html {
  //position: relative;
  //min-height: 100%;
}

body {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
  }
  background-color: #f2f5f8;


}

.background {
  height: 100vh;
  background: url('/assets/img/background-pagini.jpg');
  background-size: cover;
}

.active {
  padding-left: 2% !important;
}

/* label focus color */
.input-field input[type]:focus + label {
  color: $borderColor;
}

/* label underline focus color */
.input-field input[type]:focus {
  border-bottom: 1px solid $themeColor;
  box-shadow: 0 1px 0 0 $themeColor;
}

/* valid color */
.input-field input[type].valid {
  border-bottom: 1px solid $borderColor;
  box-shadow: 0 0px 0 0 $themeColor;
}

.select-wrapper {
  li {
    span {
      color: $themeColor !important;
    }
    label {
      transform: translateY(0);
    }
  }
}

.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
  color: rgba(0, 0, 0, 0.3) !important;
}

//------------Date Picker colors----------------------
.picker__date-display {
  background-color: $themeColor !important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: $themeColor !important;
}

.picker__day.picker__day--today {
  color: $themeColor !important;
}

.picker__day.picker__day--today.picker__day--selected {
  color: white !important;
}

.picker__close, .picker__today, .picker__clear {
  color: $themeColor !important;
}

.indicator {
  background-color: white !important;
}


