<div class="login-form center-align">
  <div>
    <img class="fii-img" src="../../../assets/img/fii.png">
    <h3 class="login-title"> Reset Password</h3>
  </div>
  <form method="post" #forgotPassForm="ngForm">
    <div class="row">
      <div *ngIf="!passwordsMatch" class="error-message">
        <p class="mat-error">*Passwords don't match!</p>
      </div>
      <div class="input-field col s12">
        <input class="validate" type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
               (blur)="comparePasswords(forgotPassForm.value)"
               required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}">
        <label class="active" data-error="Password must contain
              at least one uppercase, one digit, one symbol, and must be at least 6 characters!">Password</label>
      </div>

      <div class="input-field col s12">
        <input class="validate" type="password" name="confirmPassword" [(ngModel)]="model.confirmPassword"
               #confirmPassword="ngModel"
               (blur)="comparePasswords(forgotPassForm.value)" required>
        <label class="active">Confirm Password</label>
      </div>
    </div>

    <div class="login-footer">
      <button [disabled]="!forgotPassForm.valid || !passwordsMatch" class="btn waves-effect waves-light" type="submit"
              name="action" (click)="onSubmit(forgotPassForm.value)">Submit
      </button>
    </div>

  </form>
</div>
