$borderColor: #aaaaaa;
$themeColor: #3388cb;

.confirmation-panel {
  border: 1px solid $borderColor;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;

}
@media (max-width: 600px) {
  .panel-title{
    font-size: 25px;
  }
  p{
    font-size: 12px;
  }
}

.panel-title{
  color: $themeColor;
}
