<div class="background">
  <div class="row">
    <div class="card center-align col s8 m6 l4">
      <div class="logo">
        <img class="fii-img" id="fii-img" src="../../../../assets/img/logo_complet_compressed.png" alt="logo">
      </div>
      <div class="row">
        <h3 class="panel-title">{{titleMessage}}</h3>
        <p>{{panelMessage}}</p>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" name="action" (click)="goToLogin()">Back to Log In</button>
      </div>

    </div>
  </div>
</div>

