$borderColor: #aaaaaa;
$themeColor: #3388cb;

.card {
  margin-top: 15%;
  margin-left: 200px!important;

  .logo{
    img {
      margin-top: 20px;
      width: 200px;
      height: 135px;
    }
  }
}

.background {
  height: 100vh;
  background: url('../../../../assets/img/background-pagini.jpg');
  background-size: cover;
}

@media (max-width: 600px) {
  .panel-title{
    font-size: 25px;
  }
  p{
    font-size: 12px;
  }
}

.panel-title{
  color: $themeColor;
}
