$borderColor: #aaaaaa;

.fii-img {
  width: 250px;
  height: 100px;
}

.form{
  padding-top: 5%;
}

div.card.center-align{
  margin-top: 0px!important;
}

.card {
  width: 30%;
  margin-left: 15%;
  margin-top: 5%;
}

.waves-effect {
  margin-top: 5%;
}

.background {
  height: 100vh;
  background: url('../../../../assets/img/background-pagini.jpg');
  background-size: cover;
}

@media (max-width: 992px) {
  .card{
    width: 50%;
  }
  .fii-img {
    width: 175px;
  }
}

@media (max-width: 600px) {
  .card {
    margin: auto;
    width: 90%;
  }
}

