<div class="card center-align">
  <div>
    <img class="fii-img" src="../../../../assets/img/fii.png">
    <h3 class="login-title"> Reset Password</h3>
  </div>
  <form method="post" #forgotPassForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
               (blur)="comparePasswords(forgotPassForm.value)"
               [class.error-border]="!password.valid && password.touched"
               required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}">
        <label class="active">Password</label>
        <div *ngIf="!password.valid && password.touched" class="error-message">
          <p class="error">*Password must contain
            at least one uppercase, one digit, one symbol, and must be at least 7 characters!</p>
        </div>
      </div>

      <div class="input-field col s12">
        <input type="password" name="confirmPassword" [(ngModel)]="model.confirmPassword"
               #confirmPassword="ngModel" [class.error-border]="!confirmPassword.valid && confirmPassword.touched"
               required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}"
               (blur)="comparePasswords(forgotPassForm.value)" required>
        <label class="active">Confirm Password</label>
        <div *ngIf="!passwordsMatch">
          <p class="error">*Passwords don't match!</p>
        </div>
      </div>
    </div>

    <div class="login-footer">
      <button [disabled]="!forgotPassForm.valid || !passwordsMatch" class="btn waves-effect waves-light" type="submit"
              name="action" (click)="onSubmit(forgotPassForm.value)">Submit
      </button>
    </div>

  </form>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>{{modalHeader}}</h4>
    <br>
    <p>{{modalText}}</p>
  </div>

</div>
