$borderColor: #aaaaaa;
$themeColor: #3388cb;

.course-form {
  //width: 90%;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;

  .title {
    color: $themeColor;
  }

}









