<app-sidebar></app-sidebar>

<div class="row nav-title-div">
  <p *ngIf="!onEdit" class="nav-title col s8 push-s2">Create Course</p>
  <p *ngIf="onEdit" class="nav-title col s8 push-s2">Edit Course</p>
</div>

<div class="content row">
  <div class="card center-align col s8 push-s2 course-card">
    <form method="post" #courseForm="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="name" [(ngModel)]="model.name" #name="ngModel" [class.error-border]="!name.valid && name.touched" required>
          <label [class.active]="name.value">Title</label>
          <div *ngIf="!name.valid && name.touched" class="error-message">
          <p class="error">*The course should have a title</p>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="description" [(ngModel)]="model.description"
                    #description="ngModel"></textarea>
          <label [class.active]="description.value">Description</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12 m6 l6">
          <select  materialize="material_select" name="year" [(ngModel)]="model.year" #year="ngModel" required>
            <option value="" disabled selected>Choose year</option>
            <option  class="blue-text darken-1" [value]="'BSc Year 1'">BSc Year 1</option>
            <option [value]="'BSc Year 2'">BSc Year 2</option>
            <option [value]="'BSc Year 3'">BSc Year 3</option>
            <option [value]="'MSc Systems Software Eng Year 1'">MSc Systems Software Eng Year
              1
            </option>
            <option [value]="'MSc Systems Software Eng Year 2'">MSc Systems Software Eng Year
              2
            </option>
            <option [value]="'MSc Computational Optimization Year 1'">MSc Computational Optimization Year 1
            </option>
            <option [value]="'MSc Computational Optimization Year 2'">MSc Computational Optimization Year 2
            </option>
            <option [value]="'MSc Distributed Systems Year 1'">MSc Distributed Systems Year 1</option>
            <option [value]="'MSc Distributed Systems Year 2'">MSc Distributed Systems Year 2</option>
            <option [value]="'MSc Information Security Year 1'">MSc Information Security Year 1</option>
            <option [value]="'MSc Information Security Year 2'">MSc Information Security Year 2</option>
          </select>
          <label>Year</label>
        </div>

        <div class="input-field col s12 m6 l6">
          <select materialize="material_select" name="semester" [(ngModel)]="model.semester" #semester="ngModel" required>
            <option value="" disabled selected>Choose semester</option>
            <option [value]=1>1</option>
            <option [value]=2>2</option>
          </select>
          <label>Semester</label>
        </div>

      </div>

      <div class="input-field col s12 select-professors" *ngIf="showTeachersDropdown">
        <select multiple materialize="material_select" name="professorsGUIDs" [(ngModel)]="model.professorsGUIDs"
                #professorsGUIDs="ngModel" required>
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let prof of professors" [value]="prof.id">{{prof.name}}</option>
        </select>
        <label>Course taught by</label>
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit(courseForm.value)"
                [disabled]="!courseForm.valid">
          Submit
        </button>

      </div>

    </form>
  </div>
</div>

<!-- Modal Structure -->
<!--<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"-->
<!--[materializeActions]="modalActions">-->
<!--<div class="modal-content">-->
<!--<h4>{{modalHeader}}</h4>-->
<!--<br>-->
<!--<p>{{modalText}}</p>-->
<!--</div>-->

<!--</div>-->
