<div class="course-form center-align">
  <div>
    <h1 class="title"> Create new course</h1>
  </div>
  <form method="post" #courseForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="name" [(ngModel)]="model.name" #name="ngModel">
        <label class="active">Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea" name="description" [(ngModel)]="model.description" #description="ngModel"></textarea>
        <label class="active">Description</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6">
        <select materialize="material_select" name="year" [(ngModel)]="model.year" #year="ngModel">
          <option value="" disabled selected>The course is meant for year</option>
          <option [value]=1>1</option>
          <option [value]=2>2</option>
          <option [value]=3>3</option>
        </select>
        <label>Year</label>
      </div>

      <div class="input-field col s6">
        <select materialize="material_select" name="semester" [(ngModel)]="model.semester" #semester="ngModel">
          <option value="" disabled selected>In semester</option>
          <option [value]=1>1</option>
          <option [value]=2>2</option>
          <option [value]=3>3</option>
          <option [value]=4>4</option>
          <option [value]=5>5</option>
          <option [value]=6>6</option>
        </select>
        <label>Semester</label>
      </div>

    </div>


    <div class="input-field col s12">
      <select multiple materialize="material_select" name="professorsGUIDs" [(ngModel)]="model.professorsGUIDs" #professorsGUIDs="ngModel">
        <option value="" disabled selected>Choose your option</option>
        <option *ngFor="let prof of professors" [value]="prof.id">{{prof.name}}</option>
      </select>
      <label>Course taught by</label>
    </div>

    <div>
      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit(courseForm.value)"
              [disabled]="!courseForm.valid">
        Submit
      </button>

    </div>

  </form>
</div>


<!-- Modal Structure -->
<!--<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"-->
     <!--[materializeActions]="modalActions">-->
  <!--<div class="modal-content">-->
    <!--<h4>{{modalHeader}}</h4>-->
    <!--<br>-->
    <!--<p>{{modalText}}</p>-->
  <!--</div>-->

<!--</div>-->
