$borderColor: #aaaaaa;
$themeColor: #3388cb;

.course-card{
  padding-top: 5%;
}

.card {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;

  .title {
    color: $themeColor;
  }
}










