<nav class="z-depth-0">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right"><img src="../../../../assets/img/LOGO_FII_LIGHT.png" class="nav-logo"></a>
    <a href='#' materialize="dropdown" data-activates="mobile-demo" class="hide-on-large-only"><i
      class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!--<li><a href="sass.html">Sass</a></li>-->
      <!--<li><a href="badges.html">Components</a></li>-->
      <!--<li><a href="collapsible.html">JavaScript</a></li>-->
    </ul>
  </div>
</nav>

<ul class="dropdown-content" id="mobile-demo">
  <div *ngIf="role === 'Administrator'">
    <li><a routerLink="/courses"> Courses</a></li>
    <li><a routerLink="/admin-posts">Posts</a></li>
    <li><a routerLink="/register-professor">Add Professor</a></li>
    <li><a routerLink="/add-post">Add Post</a></li>
    <li><a routerLink="/create-course">Create course</a></li>
    <li><a (click)="logout()">Log out</a></li>

  </div>

  <div *ngIf="role === 'Professor'">
    <li><a routerLink="/professor-courses"> My courses</a></li>
    <li><a routerLink="/professor-posts"> My posts</a></li>
    <li><a routerLink="/add-post"> Add post</a></li>
    <li><a routerLink="/edit-prof-profile"> Edit profile</a></li>
    <li><a (click)="logout()">Log out</a></li>

  </div>

  <div *ngIf="role === 'Student'">
    <li><a routerLink="/news"> News</a></li>
    <li><a routerLink="/student-followed-courses"> My Courses</a></li>
    <li><a routerLink="/courses"> Courses</a></li>
    <li><a routerLink="/edit-profile"> Edit profile</a></li>
    <li><a (click)="logout()">Log out</a></li>

  </div>
</ul>

<ul id="slide-out" class="side-nav fixed side-bar z-depth-0">
  <li *ngIf="this.user.imageURL !== '' && this.user.imageURL !== null"><img [src]="this.user.imageURL"
                                                                            class="profile-picture"></li>
  <li *ngIf="this.user.imageURL === '' || this.user.imageURL === null">
    <div class="picture-replacemnt">
      <p>{{this.user.firstName[0]}}{{this.user.lastName[0]}}</p>
    </div>
  </li>
  <p class="user-name">{{this.user.firstName}} {{this.user.lastName}}</p>
  <p class="user-email">{{this.user.email}}</p>

  <div *ngIf="role === 'Administrator'">
    <li><a routerLink="/courses">Courses</a></li>
    <li><a routerLink="/admin-posts">Posts</a></li>
    <li><a routerLink="/register-professor">Add Professor</a></li>
    <li><a routerLink="/add-post">Add Post</a></li>
    <li><a routerLink="/create-course">Create course</a></li>
    <li><a (click)="logout()">Log out</a></li>
  </div>

  <div *ngIf="role === 'Professor'">
    <li><a routerLink="/professor-courses"> My courses</a></li>
    <li><a routerLink="/professor-posts"> My posts</a></li>
    <li><a routerLink="/add-post"> Add post</a></li>
    <li><a routerLink="/edit-prof-profile"> Edit profile</a></li>
    <li><a (click)="logout()">Log out</a></li>
  </div>

  <div *ngIf="role === 'Student'">
    <li><a routerLink="/news"> News</a></li>
    <li><a routerLink="/student-followed-courses"> My Courses</a></li>
    <li><a routerLink="/courses"> Courses</a></li>
    <li><a routerLink="/edit-profile"> Edit profile</a></li>
    <li><a (click)="logout()">Log out</a></li>
  </div>
  <img src="../../../../assets/img/logo_online.png" class="logo-online">
</ul>
<a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
   class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
<a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
   class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>

