$borderColor: #aaaaaa;
$themeColor: #3388cb;

.effect {
  position: relative;
}

.effect:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.card {
  margin-top: 10%;
  padding: 0% 3%;
  .fii-img {
    height: auto;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .login-title {
    color: #3388cb;
    margin-top: -5%;
    margin-bottom: 10%;
  }

  .waves-effect {
    margin-top: 5%;
    margin-bottom: 3%;
  }
}

.error-message {
  font-size: 12px;
  margin-bottom: 5%;
  color: #a00000;
  display: inline-block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: none;
  border-bottom: solid 3px $borderColor;
  border-radius: 0px;
  &:after {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: none;
    border-bottom: solid 3px $borderColor;
    border-radius: 0px;
  }

  &:focus + hr, &:active + hr {
    width: 100%;
    background-color: #61acff;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease;
  }
}

div .text-center button {
  margin-top: 10%;
  margin-bottom: 15%;
}

.waves-effect {
  //margin-top: 20%;
  //margin-bottom: 10%;
  //background-color: $themeColor;
}

.login-footer a {
  display: inline-block;
}
