<div class="login-form center-align">
  <div>
    <img class="fii-img" src="../../../../assets/img/fii.png">
    <h1 class="login-title"> Log In</h1>
  </div>
  <form method="post" #loginForm="ngForm">
    <div class="row">

      <div *ngIf="error" class="error-message">
        <p class="mat-error">*Email or password is invalid!</p>
      </div>

      <div class="input-field col s12">
        <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel">
        <label class="active">Email</label>
      </div>

      <div class="input-field col s12">
        <input  type="password" name="password" [(ngModel)]="model.password" #password="ngModel">
        <label class="active" >Password</label>
      </div>

    </div>

    <div class="login-footer">

      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit(loginForm.value)">Log
        In
      </button>
      <br>
      <a routerLink="/forgot-password"><h6>Reset password</h6></a> or <a routerLink="/register"><h6>Create an account</h6></a>
    </div>

  </form>
</div>
