$borderColor: #aaaaaa;
$themeColor: #3388cb;

.card-container{
  width: 70vw;
}



.card {
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  padding: 0% 3% 1%;
  width: 25vw;
  .fii-img {
    height: auto;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .login-title {
    color: #3388cb;
    margin-top: -5%;
    margin-bottom: 10%;
  }

  .waves-effect {
    margin-top: 5%;
    margin-bottom: 3%;
  }
}

.error-message {
  font-size: 12px;
  margin-bottom: 5%;
  color: #a00000;
  display: inline-block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: none;
  border-bottom: solid 3px $borderColor;
  border-radius: 0px;
  &:after {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: none;
    border-bottom: solid 3px $borderColor;
    border-radius: 0px;
  }

  &:focus + hr, &:active + hr {
    width: 100%;
    background-color: #61acff;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease;
  }
}

div .text-center button {
  margin-top: 10%;
  margin-bottom: 15%;
}

.waves-effect {
  //margin-top: 20%;
  //margin-bottom: 10%;
  //background-color: $themeColor;
}

.login-footer a {
  display: inline-block;
}


.building{
  background: url('../../../../assets/img/Blueprint_Background_Compressed.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 5vh;
  display: inline-block;
  right: 0;
  top: 0;
  position: absolute;
  svg{
    float: right;
    stroke: white;
    width: 30vw;
    height: 94vh;
  }
}

@media (max-width: 600px) {
  .building{
    display: none;
  }
  .card-container{
    width: 100vw;
  }

  .card{
    width: 70%;
  }
}

