$borderColor: #aaaaaa;
$themeColor: #3388cb;

/* label focus color */
   .input-field input[type]:focus + label {
     color: $borderColor;
}
/* label underline focus color */
   .input-field input[type]:focus {
     border-bottom: 1px solid $themeColor;
     box-shadow: 0 1px 0 0 $themeColor;
   }

   /* valid color */
   .input-field input[type].valid {
     border-bottom: 1px solid $borderColor;
     box-shadow: 0 0px 0 0 $themeColor;
   }

.login-form {
  border: solid 1px $borderColor;
  border-radius: 10px;

  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25%;
  height: 70%;
  padding: 0% 3%;
  margin: auto;
}

.fii-img{
  margin: 5% 0%;
}

.login-title{
  color: #3388cb;
  margin-top: -5%;
  margin-bottom: 10%;
}


.error-message{
  font-size: 12px;
  margin-bottom: 5%;
  color: #a00000;
  display: inline-block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: none;
  border-bottom: solid 3px $borderColor;
  border-radius: 0px;
  &:after {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: none;
    border-bottom: solid 3px $borderColor;
    border-radius: 0px;
  }



  &:focus + hr, &:active +hr {
    width: 100%;
    background-color: #61acff;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease;
  }
}



div .text-center button{
  margin-top: 10%;
  margin-bottom: 15%;
}

.waves-effect{
  margin-top: 20%;
  margin-bottom: 10%;
  background-color: $themeColor;
}


.login-footer a{
  display: inline-block;
}
